.sign-up {
  .alert-sign-up {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
      font-size: 1.5rem;
      background: #ffe4e4;
      margin: 0;
      display: block;
      padding: .4rem;
      color: #ef3434;
      font-weight: 600;
      text-align: center;
      margin-bottom: 10px; 
    }  
  }

  form {
    
    button {
      background-color: #fff;
      width: 220px;
      min-height: 34px;
      padding: .4rem;
      border: 1px solid #37352f;
      color: #37352f;
      border-radius: .4rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}