.main-items {
  margin-top: 1rem;

  .main-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .other-main {
      margin-right: 1rem;
      position: relative;
      width: 260px;
      height: 160px;
      box-shadow: 0 1px rgba(140,140,140,.9),0 0 2px rgba(140,140,140,.9);

      &:nth-last-child() {
        margin-right: 0;
      }

      .other-img {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .other-contents {
        background-color: #fff;
        box-shadow: 0 1px rgba(140,140,140,.9),0 0 2px rgba(140,140,140,.9);
        padding: 1.5rem .5rem;
        max-height: 32px;
        overflow: hidden;
        
        p {
          font-size: 1.2rem;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .other-title {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: .8rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}