@import "./../../../var.scss";

.detail-wrap {
  width: 100%;
  max-width: 1104px;
  margin: 0 auto;

  .detail-head-title {
    h3 {
      padding: 3rem 0 0;
    }
  }

  .detail-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 2.5rem;
    box-shadow: 0 1px rgba(140,140,140,.9),0 0 2px rgba(140,140,140,.9);
    border-radius: .4rem;
    min-height: 300px;

    .detail-header {

      .detail-header-left {
        background-color: #f1f1f1;
        padding: 1.2rem 1.5rem;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid $blue;
  
        .detail-title {
          font-weight: 400;
          font-size: 1.8rem;
          margin-bottom: .8rem;
        }
  
        .detail-displayName {
          font-size: 1.3rem;
          font-weight: 700;
  
          strong {
            font-weight: 400;
          }
        }
      }
    }

    .detail-body {
      flex: 1;
      padding: 2rem 1.5rem;
      
      .desc {
        
        p {
          line-height: 1.5;
          font-size: 1.5rem;
        }
      }
    }
  }

  .detail-btn-wrap {
    width: 100%;
    padding: 1.5rem 0;

    .back-btn {
      background-color: rgba(0, 0, 0, 0.1);
      padding: .8rem;
      border-radius: .4rem;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}