.content-main {
  width: 100%;
  max-width: 660px;
  margin: 8rem auto 2rem;
  background-color: #fff;
  box-shadow: 0 1px rgba(140, 140, 140, 0.9), 0 0 2px rgba(140, 140, 140, 0.9);

   .content-head {
     display: flex;
     align-items: center;
     padding: 1rem 1.8rem;
     font-size: 1.3rem;

     .content-name {
       font-weight: bold;
       color: #000;
     }

     .content-head-time {
       color: #666;
       font-weight: 400;
       margin-left: .6rem;
     }
   } 

  .content-body {
    width: 100%;
    
    .content-body-thumbnail {
      
      img {
        width: 100%;
      }
    }

    .content-body-title {
      padding: 1rem 1.8rem;
      font-weight: bold;
    }

    .content-body-text {
      padding: 1rem 1.8rem;
      font-size: 1.5rem;
      min-height: 120px;
    }
  }
}