@import "./../../globelStyles/var.scss";

.notification-items {
  position: fixed;
  font-weight: 600;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0,0,0,.4),0 0 1px rgba(0,0,0,.4);
  border-radius: .4rem;
  overflow: hidden;
  animation-fill-mode: forwards;
  min-width: 220px;
  z-index: 105;
  background-color: #fff;
  opacity: 1;
  visibility: visible;

  p {
    color: #666;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.4rem 1.2rem 1.4rem 1rem;
  } 

  .bar {
    height: 5px;
  }

  .bar.danger {
    background-color: $red;
  }

  .bar.success {
    background-color: $blue;
  }
}
.notification-items.leftLeft {
  left: 16px;
  bottom: 16px;
  transform: translateY(0);
  animation: SlideShowleftLeft .3s;
}
.notification-items.topCenter {
  left: 50%;
  top: 80px;
  transform: translate(-50%, 0);
  animation: SlideShowtopCenter .3s;
}
.notification-items.exit {
  animation-fill-mode: forwards;
  opacity: 0;
  visibility: hidden;
  transition: opacity ease-in-out .4s,
  visibility ease-in-out .4s;
}

.notification-items.exit.leftLeft {
  animation: SlideHideleftLeft .4s;
}

.notification-items.exit.topCenter {
  animation: SlideHidetopCenter .4s;
}

@keyframes SlideShowleftLeft {
    0% {
      transform: translateY(220%);
    }
    
    100% {
      transform: translateY(0);
    }
}

@keyframes SlideHideleftLeft {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(220%);
    }
}

@keyframes SlideShowtopCenter {
  0% {
    transform: translate(-50%, -220%);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes SlideHidetopCenter {
  0% {
    transform: translate(-50%, 0);
  }
  
  100% {
    transform: translate(-50%, -220%);
  }
}