@import "./../../var.scss";

.notification-items {
  position: fixed;
  left: 64px;
  bottom: 32px;
  transform: translateY(0);
  font-weight: 600;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0,0,0,.4),0 0 1px rgba(0,0,0,.4);
  border-radius: .4rem;
  overflow: hidden;
  animation: SlideLeft 0.3s;
  animation-fill-mode: forwards;
  min-width: 160px;
  z-index: 105;
  background-color: #fff;
  opacity: 1;
  visibility: visible;

  p {
    color: #666;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem;
  } 

  .bar {
    height: 4px;
  }

  .bar.danger {
    background-color: $red;
  }

  .bar.success {
    background-color: $blue;
  }
}

.notification-items.exit {
  animation: SlideRight 0.4s;
  animation-fill-mode: forwards;
  opacity: 0;
  visibility: hidden;
  transition: opacity ease-in-out .4s,
  visibility ease-in-out .4s;
}

@keyframes SlideLeft {
    0% {
        transform: translateY(220%);
    }
    
    100% {
      transform: translateY(0);
    }
}

@keyframes SlideRight {
    0% {
      transform: translateY(0);
    }


    100% {
      transform: translateY(220%);
    }
}