.notification-items {
  position: fixed;
  right: 32px;
  top: 62px;
  transform: translateX(0);
  font-size: 1.3rem;
  padding: .5rem 0 0;
  margin: 0;
  display: block;
  color: #666;
  box-shadow: 0 0 5px rgba(0,0,0,.4),0 0 1px rgba(0,0,0,.4);
  border-radius: .4rem;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  animation: SlideLeft 0.4s;
  animation-fill-mode: forwards;
  min-width: 160px;

  p {
    padding: 0 .6rem .5rem;
  } 

  .bar {
    height: 4px;
  }

  .bar.error {
    background-color: #ef3434;
  }

  .bar.success {
    background-color: #1F69FF;
  }
}

.notification-items.exit {
  animation: SlideRight 0.4s;
  animation-fill-mode: forwards;
}

@keyframes SlideLeft {
    0% {
        transform: translateX(220%);
    }

    100% {
      transform: translateX(0);
    }
}

@keyframes SlideRight {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(220%);
    }
}