@import './../../var.scss';

.inquire-board {
  width: 100%;

  .inquire-title {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    
    h3 {
      padding: 3rem 0 2rem;
    }
  }

  .inquire-contents {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .inquire-write-btn {
      min-width: 80px;
      background-color: $primaryBg;
      color: #fff;
      font-weight: 600;
      font-size: $buttonFontSize;
      padding: .6rem;
      border-radius: .4rem;
      transition: background-color .4s ease-in;
  
      &:hover {
        background-color: $primaryBgHover;
      }
    }
  }

  .show-item-world-wrap {
    width: 100%;
    max-width: 1080px;
    min-height: 536px;
    display: flex;
    flex-direction: column;
    margin: .5rem auto;
    padding-bottom: 1.5rem;
    border-radius: .4rem;

    .show-row {
      width: 100%;
      background-color: #fff;
      border-bottom: 1px solid #e4e4e4;
      order: 4;
      
      &:first-child {
        margin-top: 2rem;
        border: 0;
        order: 1;
      }
     
      &:last-child {
        border: 0;
      }
  
      .show-item-wrap--head {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
        border-bottom: .1rem solid #cacaca;
  
        .show-item-header-title {
          width: 60px;
          text-align: center;
        }
  
        .show-text--head {
          flex: 1;
          width: calc(100% - 60px);
  
          .show-title--head {
            display: flex;
            align-items: center;
  
            .show-tag--head {
              width: 10%;
              text-align: center;
            }
  
            .show-titie-first--head {
              width: 72%;
              text-align: center;
            }
  
            .show-title-nick--head {
              width: 12%;
              text-align: left;
            }
  
            .show-title-day--head {
              width: 6%;
              text-align: center;
            }
          }
        }
      }
  
      .show-item-wrap {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 400;
        height: 40px;
  
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          color: #000;
  
          &:hover {
            background-color:$lightGray;
          }
  
          .show-item-header-title {
            min-width: 60px;
            text-align: center;

            .rec-number {
              font-size: 1.3rem;
              font-weight: 600;
            }
          }
    
          .show-text {
            flex: 1;
            width: calc(100% - 60px);
    
            .show-title {
              width: 100%;
              display: flex;
              align-items: center;
  
              .show-tag {
                width: 10%;
                display: flex;
                justify-content: center;

                .show-tag--span {
                  background-color: $midiumGray;
                  border-radius: 1.4rem;
                  padding: .6rem .8rem;
                  font-weight: 600;
                  font-size: 1.3rem;
                  color: #fff;
                  text-align: center;
                }
              }
              
              .show-titie-first {
                width: 72%;
                overflow: hidden;
                display: flex;
                align-items: flex-start;
                font-size: 1.4rem;
                
                .show-titie-first--middle {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

                .comment-length {
                  margin-left: .4rem;
                  color: $blue;
                  position: relative;
                  top: -2px;
                  right: 3px;
                  font-weight: 600;
                }
              }
              
              .show-title-nick {
                width: 12%;
                text-align: left;
                font-size: 1.3rem;
              }
  
              .show-title-day {
                width: 6%;
                text-align: center;
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  .paging-number {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    .page {
      color: $blue;
      margin-left: .6rem;
      font-size: 1.6rem;
      font-weight: 600;
      padding: .8rem;
      border-radius: .4rem;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
      &:hover {
        background-color: $lightGray;
      }
    }
    .page.active {
      background-color: $blue;
      color: #fff;
    }
    .page.none {
      color:#adadad;
      background-color: transparent;
      pointer-events: none;
      border: none;
      cursor: context-menu;
    }
  }
}