.inquire-board {
  width: 100%;

  .inquire-title {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    
    h3 {
      padding: 3rem 0 0;
    }
  }

  .inquire-contents {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }
}