@import "./var.scss";

html {
  font-size: 10px;
}
html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App,
.fullHeight {
  height: 100%;
}

* ::before, ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  overflow: hidden;
}

a {
  text-decoration:  none;
  cursor: pointer;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

.redBg {
  background-color: $red !important;
}

.blueBg {
  background-color: $blue !important;
}

.greenBg {
  background-color: $green !important;
}

.lightGrayBg {
  background-color: $lightGray !important;
}

button {
  background: transparent;
  text-decoration: none;
  outline: none;
  border: 0;
  cursor: pointer;
}
button:not(.btn) {
 color:#adadad !important;
 background-color:#e6e6ea !important;
 border: none !important;
 cursor: context-menu !important;
}
button:not(.btn):hover {
 color:#adadad !important;
 background-color:#e6e6ea !important;
 border: none !important;
 cursor: context-menu !important;
}
 
.hide {
  display: none !important;
}

.full-wrap {
  width: 100%;
  height: 100%;
  background-color: #f7f7f8;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  position: relative;
}

.full-wrap.hidden {
  overflow: hidden;
}

.main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: calc( 100% - 83px);
  z-index: 100;

  .main-box {
    width: 100%;
    height: 54px;
  }

  .all {
    height: 100%;
  }
}

.ex-wrapper {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;

  h3 {
    color: $red;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.4rem;
  }

  p {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;

    strong {
      color: $red;
    }
  }
}

.loading__bar__icon {
	border: 1px solid rgba($lightBlue, .1);
	border-top-color: rgba($lightBlue, .75);
	border-radius: 100%;
	height: 22px;
	width: 22px;
	animation: rotate .8s infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.not-found {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  a {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #666;
    padding-bottom: 1.5rem;

    &:hover {
      color: $red;
      text-decoration: underline;
      text-underline-position: under;
    }
  }
}