$blue: #039be5;
$lightBlue: #00a8e8;
$darkBlue: #0d435d;
$lightGray: #eaeaea;
$midiumGray: #b1b1b1; 
$green: #2BA640;
$red: #e91916;
$orange: #FCA120;
$buttonFontSize: 1.3rem;
$primaryBg: #00BCD4;
$primaryBgHover: #009baf; 
$googleRed:#de7557;
$buttonPrimaryColor:rgba(0, 0, 0, 0.01);
$buttonPrimaryHoverColor:rgba(0, 0, 0, 0.05);
$buttonWhiteHoverColor:rgba(255, 255, 255, 0.5);
$slieWidth: 100%;
$slideHeight: 50vh; 