.user-profile {
  margin: 2.5rem 2rem 1rem;
  
  .user-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-icon {
      padding: 1.2rem;
      border-radius: 50%;
      font-size: 2.6rem;
      color: #fff;

      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .display-name {
      font-size: 1.5rem;
      margin-top: .8rem;
    }
  }
}