@import "./../../../var.scss";
.inquire-text {
  margin: 3rem 0;

  .inquire-comment-area {
    position: relative;
    margin-top: 3rem;
  
    &--head {
      display: flex;
      align-items: center;
      color: #000;
  
      p {
        font-size: 1.5rem;
        font-weight: 600;
      }
  
      span {
        font-size: 1.3rem;
        text-indent: .6rem;
        color: #666;
      }
    }
  
    &--body {
      margin-top: .8rem;
  
      pre {
        font-size: 1.3rem;
        font-weight: 400;
        max-height: 150px;
        overflow: hidden;
      }
      pre.all-pre {
        max-height: initial;
      }
    }
    &--delete-btn {
      position: absolute;
      right: 0;
      top: -4px;

      button {
        color: $midiumGray;

        &:hover {
          color: $red;
        }
      }
    }
  }
}
